﻿@model Domain.Models.Klaim

@{
    ViewBag.Title = "Create";
    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}

<div class="panel">
    <div class="panel-header border-bottom">
        <h2>
            <span class="fa fa-plus-circle"></span> <strong>Klaim - Create</strong>
        </h2>
    </div>
    <div class="panel-content">
    @using (Html.BeginForm("Create", "Klaim", FormMethod.Post, new { @id = "formCreate" })) 
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                    @Html.LabelFor(model => model.NamaPengemudi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NamaPengemudi, new { @class = "form-control form-white" })
                            @Html.ValidationMessageFor(model => model.NamaPengemudi, "", new { @class = "text-danger" })
                        </div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NomorTelpon, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NomorTelpon, new { @class = "form-control form-white" })
                            @Html.ValidationMessageFor(model => model.NomorTelpon, "", new { @class = "text-danger" })
                        </div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { @class = "form-control form-white" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TanggalKejadian, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TanggalKejadian, new { @class = "form-control form-white" })
                            @Html.ValidationMessageFor(model => model.TanggalKejadian, "", new { @class = "text-danger" })
                        </div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WaktuKejadian, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WaktuKejadian, new { @class = "form-control form-white" })
                            @Html.ValidationMessageFor(model => model.WaktuKejadian, "", new { @class = "text-danger" })
                        </div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LokasiKejadian, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LokasiKejadian, new { @class = "form-control form-white" })
                            @Html.ValidationMessageFor(model => model.LokasiKejadian, "", new { @class = "text-danger" })
                        </div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Keterangan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Keterangan, new { @class = "form-control form-white" })
                            @Html.ValidationMessageFor(model => model.Keterangan, "", new { @class = "text-danger" })
                        </div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KerjaKlaimId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                            @Html.DropDownList("KerjaKlaimId", new SelectList(new List<string>()), htmlAttributes: new { @class = "form-control kendo-dropdownlist", @id = "KerjaKlaimId" })
                                @Html.ValidationMessageFor(model => model.KerjaKlaimId, "", new { @class = "text-danger" })
                        </div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PemegangPolisId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                            @Html.DropDownList("PemegangPolisId", new SelectList(new List<string>()), htmlAttributes: new { @class = "form-control kendo-dropdownlist", @id = "PemegangPolisId" })
                                @Html.ValidationMessageFor(model => model.PemegangPolisId, "", new { @class = "text-danger" })
                        </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PemegangPolis.NomorPolis, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PemegangPolis.NomorMesin", new SelectList(new List<string>()), htmlAttributes: new { @class = "form-control kendo-dropdownlist", @id = "PemegangPolis.NomorMesin" })
                    @Html.ValidationMessageFor(model => model.PemegangPolisId, "", new { @class = "text-danger" })
                </div>
            </div>

                <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="k-button" /> &nbsp; <button type="submit" value="true" name="createNext" class="k-button k-primary">Save and create next</button>
                </div>
            </div>
        </div>
    }
    </div>
    <div class="panel-footer">
        <p class="pull-right">
            @Html.ActionLink("Klaim List", "Index")
            @if (Request.UrlReferrer != null)
            {
                @: | <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br/>
            }
        </p>
        <div class="clearfix"></div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#formCreate").validate({
            rules: {
                NamaPengemudi: {
                    required: true,
                },
                NomorTelpon: {
                    required: true,
                },
                Email: {
                },
                TanggalKejadian: {
                    required: true,
                },
                WaktuKejadian: {
                    required: true,
                },
                LokasiKejadian: {
                    required: true,
                },
                Keterangan: {
                    required: true,
                },
                KerjaKlaimId: {
                    number: true,
                },
                PemegangPolisId: {
                    number: true,
                },
            }
        });

        $(".kendo-dropdownlist").kendoDropDownList({
            filter: "contains"
        });

        $("button[name='createNext']").click(function (e) {
            var url = $("#formCreate").attr("action") + "?createNext=true";
            $("#formCreate").attr("action", url);
        });

        var dsKerjaKlaimId = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: "@(webApiUrl)KerjaKlaims",
                    dataType: "json",
                    contentType: "application/json",
                },
                parameterMap: function (options, operation) {
                    if (operation === "destroy") {
                        return null;
                    } else if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    } else {
                        return "q=" + JSON.stringify(options);
                    }
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                model: {
                    id: 'Id',
                    fields: {
                        
                    }
                }
            },
            serverFiltering: true,
            serverPaging: true,
            pageSize: 7
        });

        $("#KerjaKlaimId").kendoDropDownList({
            filter: "contains",
            dataSource: dsKerjaKlaimId,
            dataTextField: "Name",
            dataValueField: "Id",
        });

        var dsPemegangPolisId = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: "@(webApiUrl)PemegangPolis",
                    dataType: "json",
                    contentType: "application/json",
                },
                parameterMap: function (options, operation) {
                    if (operation === "destroy") {
                        return null;
                    } else if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    } else {
                        return "q=" + JSON.stringify(options);
                    }
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                model: {
                    id: 'Id',
                    fields: {
                        
                    }
                }
            },
            serverFiltering: true,
            serverPaging: true,
            pageSize: 7
        });

        $("#PemegangPolisId").kendoDropDownList({
            filter: "contains",
            dataSource: dsPemegangPolisId,
            dataTextField: "NomorPolis",
            dataValueField: "Id",
        });
        $("#PemegangPolis.NomorMesin").kendoDropDownList({
            filter: "contains",
            dataSource: dsPemegangPolisId,
            dataTextField: "NomorMesin",
            dataValueField: "Id",
        });

        //$(".kendo-datetimepicker").kendoDateTimePicker({
        //    format: "yyyy-MM-dd"
        //});
        $("#TanggalKejadian").kendoDatePicker({
            format: "yyyy-MM-dd"
        });
        $("#WaktuKejadian").kendoTimePicker({
            format: "HH:mm"
        });
    </script>
}
