﻿@model IEnumerable<Domain.Models.Derek>

@{
    ViewBag.Title = "Index";
    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}

<div class="panel">
    <div class="panel-header border-bottom">
        <h2>
            <span class="fa fa-list"></span> <strong>Derek - Index</strong>
        </h2>
    </div>
    <div class="panel-content p-b-20">
        <div id="grid"></div>
    </div>
</div>
@section styles{
    <script src="http://cdn.kendostatic.com/2014.3.1029/js/jszip.min.js"></script>
}
@section scripts{
    <script type="text/javascript">
        var dataSource = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: "@(webApiUrl)Dereks",
                    dataType: "json",
                    contentType: "application/json"
                },
                destroy: {
                    url: function (data) {
                        return "@(webApiUrl)Dereks/"+data.Id;
                    },
                    type: "delete"
                },
                parameterMap: function (options, operation) {
                    if (operation === "destroy") {
                        return null;
                    } else if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    } else {
                        return "q=" + JSON.stringify(options);
                    }
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                model: {
                    id: 'Id',
                    fields: {
                        Id: {
                            type: "number"
                        },
                        Name: {
                            type: "string"
                        },
                        Telephone: {
                            type: "string"
                        },
                        Email: {
                            type: "string"
                        },
                        EventDate: {
                            type: "date"
                        },
                        EventTime: {
                            type: "date"
                        },
                        Location: {
                            type: "string"
                        },
                        CityId: {
                            type: "number"
                        },
                        Description: {
                            type: "string"
                        },
                        KerjaDerekId: {
                            type: "number"
                        },
                        PemegangPolisId: {
                            type: "number"
                        },
                        CreatedAt: {
                            type: "date"
                        },
                        LastUpdateTime: {
                            type: "date"
                        },
                    }
                }
            },
            batch: false,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            pageSize: 10
        });

        $("#grid").kendoGrid({
            dataSource: dataSource,
            dataBound: gridDataBound,
            noDataMessage: 'Currently no Derek available',
            columns: [
                {
                    field: "City.Name",
                    title: "City",
                    template: function(data){
                        return '<a href="@Url.Action("Details","City")/' + data.City.Id + '">' + data.City.Name + '</a>';
                    }
                },
                {
                    field: "KerjaDerek.Name",
                    title: "KerjaDerek",
                    template: function(data){
                        return '<a href="@Url.Action("Details","KerjaDerek")/' + data.KerjaDerek.Id + '">' + data.KerjaDerek.Name + '</a>';
                    }
                },
                {
                    field: "PemegangPolis.OwnerId",
                    title: "PemegangPolis",
                    template: function(data){
                        return '<a href="@Url.Action("Details","PemegangPolis")/' + data.PemegangPolis.Id + '">' + data.PemegangPolis.OwnerId + '</a>';
                    }
                },
                {
                    field: "Id",
                    hidden: true,
                    width: 100
                },
                "Name",
                "Telephone",
                "Email",
                {
                    field: "EventDate",
                    format: "{0: yyyy-MM-dd HH:mm:ss}"
                },
                {
                    field: "EventTime",
                    format: "{0: yyyy-MM-dd HH:mm:ss}"
                },
                "Location",
                "Description",
                {
                    command: [
                        {
                            name: 'Details',
                            click: function (data) {
                                var dataItem = this.dataItem($(data.currentTarget).closest("tr"));
                                window.location = "@Url.Action("Details")/" + dataItem.Id;
                            },
                            text: "<button class='btn btn-default btn-transparent btn-sm p-0' title='Details'><span class='fa fa-search'></span></button>"
                        },
                        {
                            name: 'Edit',
                            click: function(data){
                                var dataItem = this.dataItem($(data.currentTarget).closest("tr"));
                                window.location = "@Url.Action("Edit")/" + dataItem.Id;
                            },
                            text: "<button class='btn btn-primary btn-sm p-0' title='Edit'><span class='fa fa-edit'></span></button>"
                        },
                        {
                            name: 'destroy',
                            text: "<button class='btn btn-danger btn-sm p-0' title='Delete'><span class='fa fa-trash-o'></span></button>"
                        }
                    ],
                    width: 200
                }
            ],
            editable: "popup",
            sortable: true,
            filterable: {
                mode: "row"
            },
            pageable:{
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            groupable: true,
            excel: {
                allPages: true,
                fileName: "Derek_Export.xlsx",
                filterable: true
            },
            toolbar: [
                {
                    name: "create",
                    template: '<a href="@Url.Action("Create")" class="k-button k-button-icontext"><span class="fa fa-plus"></span> Add New Derek</a>'
                },
                {
                    name: "excel",
                    text: "<span class='fa fa-file-excel-o'></span> Export To Excel"
                },
                {
                    name: "download",
                    template: '<button class="k-button" id="downloadFormatExcel"><span class="fa fa-download"></span> Download Import Excel Format</button>'
                }
            ]
        });

        $("#downloadFormatExcel").click(function(e) {
            e.preventDefault();

            var format = [
                {
                    cells: [
                        {value: "Id"},
                        {value: "Name"},
                        {value: "Telephone"},
                        {value: "Email"},
                        {value: "EventDate"},
                        {value: "EventTime"},
                        {value: "Location"},
                        {value: "CityId"},
                        {value: "Description"},
                        {value: "KerjaDerekId"},
                        {value: "PemegangPolisId"},
                        {value: "CreatedAt"},
                        {value: "LastUpdateTime"},
                    ]
                }
            ];

            var workbook = new kendo.ooxml.Workbook({
                sheets: [
                  {
                      columns: [
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                      ],
                      // Title of the sheet
                      title: "Derek",
                      // Rows of the sheet
                      rows: format
                  }
                ]
            });
            //save the file as Excel file with extension xlsx
            kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: "Derek_Import.xlsx" });
        });

        var dsExcel = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: "@(webApiUrl)Dereks",
                    dataType: "json",
                    contentType: "application/json",
                },
                parameterMap: function (options, operation) {
                    if (operation === "destroy") {
                        return null;
                    } else if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    } else {
                        return "q=" + JSON.stringify(options);
                    }
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                model: {
                    id: 'Id',
                    fields: {
                        Id: {
                            type: "number"
                        },
                        Name: {
                            type: "string"
                        },
                        Telephone: {
                            type: "string"
                        },
                        Email: {
                            type: "string"
                        },
                        EventDate: {
                            type: "date"
                        },
                        EventTime: {
                            type: "date"
                        },
                        Location: {
                            type: "string"
                        },
                        CityId: {
                            type: "number"
                        },
                        Description: {
                            type: "string"
                        },
                        KerjaDerekId: {
                            type: "number"
                        },
                        PemegangPolisId: {
                            type: "number"
                        },
                        CreatedAt: {
                            type: "date"
                        },
                        LastUpdateTime: {
                            type: "date"
                        },
                    }
                }
            }
        });

        function exportToExcel() {
            var rows = [
                {
                    cells: [
                        {value: "Id"},
                        {value: "Name"},
                        {value: "Telephone"},
                        {value: "Email"},
                        {value: "EventDate"},
                        {value: "EventTime"},
                        {value: "Location"},
                        {value: "CityId"},
                        {value: "Description"},
                        {value: "KerjaDerekId"},
                        {value: "PemegangPolisId"},
                        {value: "CreatedAt"},
                        {value: "LastUpdateTime"},
                    ]
                }
            ];

            dsExcel.query({
                pageSize: dsExcel.total()
            }).then(function () {
                var data = dsExcel.data();
                for (var i = 0; i < data.length; i++) {
                    //push single row for every record
                    rows.push({
                        cells: [
                            { value: data[i].Id },
                            { value: data[i].Name },
                            { value: data[i].Telephone },
                            { value: data[i].Email },
                            { value: data[i].EventDate },
                            { value: data[i].EventTime },
                            { value: data[i].Location },
                            { value: data[i].CityId },
                            { value: data[i].Description },
                            { value: data[i].KerjaDerekId },
                            { value: data[i].PemegangPolisId },
                            { value: data[i].CreatedAt },
                            { value: data[i].LastUpdateTime },
                        ]
                    });
                }

                var workbook = new kendo.ooxml.Workbook({
                    sheets: [
                      {
                          columns: [
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                          ],
                          // Title of the sheet
                          title: "Derek",
                          // Rows of the sheet
                          rows: rows
                      }
                    ]
                });
                //save the file as Excel file with extension xlsx
                kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: "Derek_Export.xlsx" });
            });
        }

        $("#grid").data("kendoGrid").bind("excelExport", function (e) {
            e.preventDefault();
            exportToExcel();
        });

    </script>
}
