﻿@if (!User.Identity.IsAuthenticated)
{
    Response.Redirect("/Account/login?returnUrl=" + Url.Encode(Request.Url.ToString()));
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/style/kendo/kendo.common.min.css" />
    @*<link rel="stylesheet" href="~/Content/style/kendo/kendo.rtl.min.css" />*@
    <link rel="stylesheet" href="~/Content/style/kendo/kendo.metromake.min.css" />
    <link rel="stylesheet" href="~/Content/style/kendo/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="~/Content/style/kendo/kendo.dataviz.metro.min.css" />
    <script type="text/javascript" src="~/Scripts/kendo/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/kendo/kendo.all.min.js"></script>
    <script type="text/javascript" src="~/Scripts/kendo/kendo.timezones.min.js"></script>
    <script type="text/javascript" src="~/Scripts/kendo/cultures/kendo.culture.id-ID.min.js"></script>
    <link href="~/Content/make/assets/global/css/style.css" rel="stylesheet">
    <link href="~/Content/make/assets/global/css/theme.css" rel="stylesheet">
    <link href="~/Content/make/assets/global/css/ui.css" rel="stylesheet">
    <link href="~/Content/make/assets/admin/css/layout.css" rel="stylesheet">
    <link href="~/Content/make/assets/global/plugins/summernote/summernote.min.css" rel="stylesheet">
    <link href="~/Content/make/assets/global/plugins/bootstrap-loading/dist/ladda-themeless.min.css" rel="stylesheet">
    <!-- BEGIN PAGE STYLE -->
    <link href="~/Content/make/assets/global/plugins/metrojs/metrojs.min.css" rel="stylesheet">
    <link href="~/Content/make/assets/global/plugins/maps-amcharts/ammap/ammap.min.css" rel="stylesheet">
    <!-- END PAGE STYLE -->
    <script src="~/Content/make/assets/global/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.debounce.min.js"></script>
    <link rel="stylesheet" href="~/Content/styles.css" />
    @RenderSection("styles", false)
</head>
<body class="fixed-topbar fixed-sidebar theme-sdtl color-default">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <section>
        @Html.Partial("_SidebarPartial")
        <div class="main-content">
            @Html.Partial("_TopbarPartial")
            <div class="page-content page-thin">
                @RenderBody()
                <div class="clearfix"></div>
                <div class="footer">
                    <div class="copyright">
                        <p class="pull-left sm-pull-reset">
                            <span>Copyright <span class="copyright">©</span> @DateTime.Now.Year </span>
                            <span>PT. Sangkuriang Internasional</span>.
                            <span>All rights reserved. </span>
                        </p>
                        <p class="pull-right sm-pull-reset">
                            <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BEGIN PRELOADER -->
    <div class="loader-overlay">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- END PRELOADER -->
    @Html.Partial("_SearchPartial")
    <div id="body-overlay" class="k-overlay hide">
        <div class="overlay-text">Loading...</div>
    </div>
    <div class="modal fade" id="modal-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
    <script src="~/Content/make/assets/global/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
    <script src="~/Content/make/assets/global/plugins/gsap/main-gsap.min.js"></script>
    <script src="~/Content/make/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/make/assets/global/plugins/jquery-cookies/jquery.cookies.min.js"></script> <!-- Jquery Cookies, for theme -->
    <script src="~/Content/make/assets/global/plugins/jquery-block-ui/jquery.blockUI.min.js"></script> <!-- simulate synchronous behavior when using AJAX -->
    <script src="~/Content/make/assets/global/plugins/bootbox/bootbox.min.js"></script> <!-- Modal with Validation -->
    <script src="~/Content/make/assets/global/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> <!-- Custom Scrollbar sidebar -->
    <script src="~/Content/make/assets/global/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script> <!-- Show Dropdown on Mouseover -->
    <script src="~/Content/make/assets/global/plugins/charts-sparkline/sparkline.min.js"></script> <!-- Charts Sparkline -->
    <script src="~/Content/make/assets/global/plugins/retina/retina.min.js"></script> <!-- Retina Display -->
    <script src="~/Content/make/assets/global/plugins/select2/select2.min.js"></script> <!-- Select Inputs -->
    <script src="~/Content/make/assets/global/plugins/icheck/icheck.min.js"></script> <!-- Checkbox & Radio Inputs -->
    <script src="~/Content/make/assets/global/plugins/backstretch/backstretch.min.js"></script> <!-- Background Image -->
    <script src="~/Content/make/assets/global/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script> <!-- Animated Progress Bar -->
    <script src="~/Content/make/assets/global/js/builder.js"></script> <!-- Theme Builder -->
    <script src="~/Content/make/assets/global/js/sidebar_hover.js"></script> <!-- Sidebar on Hover -->
    <script src="~/Content/make/assets/global/js/application.js"></script> <!-- Main Application Script -->
    <script src="~/Content/make/assets/global/js/plugins.js"></script> <!-- Main Plugin Initialization Script -->
    <script src="~/Content/make/assets/global/js/widgets/notes.js"></script> <!-- Notes Widget -->
    <script src="~/Content/make/assets/global/js/quickview.js"></script> <!-- Chat Script -->
    <script src="~/Content/make/assets/global/js/pages/search.js"></script> <!-- Search Script -->
    <script src="~/Content/make/assets/global/plugins/jquery-validation/jquery.validate.min.js"></script> <!-- Form Validation Script -->
    <script src="~/Content/make/assets/global/plugins/summernote/summernote.min.js"></script> <!-- Simple HTML Editor -->
    <script src="~/Content/make/assets/global/plugins/bootstrap-loading/dist/spin.min.js"></script>
    <script src="~/Content/make/assets/global/plugins/bootstrap-loading/dist/ladda.min.js"></script>
    <script src="~/Content/make/assets/admin/js/layout.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/grid-custom.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
    <script type="text/javascript" src="~/Scripts/Models.js"></script>
    <script src="~/Content/make/assets/global/plugins/noty/jquery.noty.packaged.min.js"></script> <!-- Notifications -->
    <script src="~/Scripts/notification.js"></script> <!-- Notifications -->
    <script type="text/javascript">
        kendo.culture("id-ID");
        //setAjaxUseAuth();
        @{
            if (TempData["Alert"] != null && TempData["AlertClass"] != null)
            {
                @:showNotif("@TempData["Alert"]", "@TempData["AlertClass"]")
            }
        }
    </script>
    @RenderSection("scripts", false)
</body>
</html>