﻿@using System.Configuration
@{
    
    var baseUrl = ConfigurationManager.AppSettings["baseUrl"];
    var returnUrl = Request.QueryString["returnUrl"] ?? baseUrl;
}
<!-- BEGIN SEARCH -->
<div id="morphsearch" class="morphsearch">
    <form class="morphsearch-form" name="search">
        <input class="morphsearch-input" id="search-input" type="search" placeholder="Search..." />
        <button class="morphsearch-submit" id="search-submit" type="submit">Search</button>
    </form>
    <div class="morphsearch-content withScroll">
        <div class="dummy-column user-column"  >
            <h2>Users</h2>
            <div id="listUser"></div>
        </div>
        <div class="dummy-column">
            <h2>Others</h2>
            <div id="listArticle"></div>
        </div>
        <div class="dummy-column">
            <h2>Recent</h2>
            <div id="listRecent"></div>
        </div>
    </div>
    <!-- /morphsearch-content -->
    <span class="morphsearch-close"></span>
</div>
<!-- END SEARCH -->