﻿ <!-- BEGIN TOPBAR -->
<div class="topbar">
    <div class="header-left">
        <div class="topnav">
            <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
            @*<ul class="nav nav-icons">
                <li><a href="#" class="toggle-sidebar-top"><span class="icon-user-following"></span></a></li>
                <li><a href="mailbox.html"><span class="octicon octicon-mail-read"></span></a></li>
                <li><a href="#"><span class="octicon octicon-flame"></span></a></li>
                <li><a href="builder-page.html"><span class="octicon octicon-rocket"></span></a></li>
            </ul>*@
        </div>
    </div>
    <div class="header-right">
        <ul class="header-menu nav navbar-nav">
            <!-- BEGIN USER DROPDOWN -->
            @*<li class="dropdown" id="language-header">
                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-globe"></i>
                    <span>Language</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" data-lang="en"><img src="~/Content/make/assets/global/images/flags/usa.png" alt="flag-english"> <span>English</span></a>
                    </li>
                    <li>
                        <a href="#" data-lang="es"><img src="~/Content/make/assets/global/images/flags/spanish.png" alt="flag-english"> <span>Español</span></a>
                    </li>
                    <li>
                        <a href="#" data-lang="fr"><img src="~/Content/make/assets/global/images/flags/french.png" alt="flag-english"> <span>Français</span></a>
                    </li>
                </ul>
            </li>*@
            <!-- END USER DROPDOWN -->
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            @*@if (User.Identity.IsAuthenticated)
            {
                @Html.Action("Unread", "Notification")
            }*@
            <!-- END NOTIFICATION DROPDOWN -->
            <!-- BEGIN MESSAGES DROPDOWN -->
            @*@if (User.Identity.IsAuthenticated && (User.IsInRole("Candidate") || User.IsInRole("Instructor") || User.IsInRole("Assessor")))
            {
                @Html.Action("Exam", "Notification")
            }*@
            <!-- END MESSAGES DROPDOWN -->
                <!-- BEGIN USER DROPDOWN -->
                @Html.Partial("_LoginPartial")
                <!-- END USER DROPDOWN -->
                <!-- CHAT BAR ICON -->
                @*<li id="quickview-toggle"><a href="#"><i class="icon-bubbles"></i></a></li>*@
            </ul>


    </div>
    <!-- header-right -->
</div>
<!-- END TOPBAR -->
