﻿@model Domain.Infrastructure.CreateUserBindingModel

@{
    ViewBag.Title = "Create";
    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}

<div class="panel">
    <div class="panel-header border-bottom">
        <h2>
            <span class="fa fa-plus-circle"></span> User - Create
        </h2>
    </div>
    <div class="panel-content">
        @using (Html.BeginForm("Create", "UserManagement", FormMethod.Post, new { @id = "create-user" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="col-lg-12">
                    @if (TempData["message"] != null)
                    {
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            @TempData["message"]
                        </div>
                    }
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>

                <div class="nav nav-tabs">
                    <ul class="nav nav-tabs nav-green">
                        <li class="active"><a href="#account" data-toggle="tab"><i class="fa fa-user"></i> Account</a></li>
                        <li class=""><a href="#profile" data-toggle="tab"><i class="fa fa-info"></i> Profile</a></li>
                        <li class=""><a href="#avatar" data-toggle="tab"><i class="fa fa-camera"></i> Avatar</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="account" class="tab-pane fade active in">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-white" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RoleName, "Role", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownList("RoleName", (List<SelectListItem>)ViewBag.Roles, new { @class = "kendo-dropdownlist", @id = "Role" })
                                    @*@Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                        <div id="profile" class="tab-pane fade in">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-white" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextAreaFor(model => model.Address, 5, 100, new {  @class = "form-control form-white" })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control form-white" } })
                                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div id="avatar" class="tab-pane fade in">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Photo, "Foto Profil", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="file" name="upload" id="upload" class="form-control" accept=".jpg,.png,.gif" />
                                    @*@Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })*@
                                    @Html.HiddenFor(model => model.Photo, new { id = "Photo" })
                                    <p id="err" style="color: red; display: none;">Your image is too large</p>
                                    <p>Max size : 2 MB</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="k-button" /> &nbsp; <input type="submit" value="Save and create next" id="createNext" class="k-button k-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        <p class="pull-right">
            @Html.ActionLink("User List", "Index")
            @if (Request.UrlReferrer != null)
            {
                @: | <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
            }
        </p>
        <div class="clearfix"></div>
    </div>
</div>

@section scripts{
    <script src="~/Content/make/assets/global/plugins/noty/jquery.noty.packaged.min.js"></script> <!-- Notifications -->
    <script src="~/Scripts/notification.js"></script> <!-- Notifications -->
    <script type="text/javascript">
        @if (TempData.ContainsKey("Created") && TempData["Created"].Equals(true))
        {
            @:showNotif("Tambah user baru berhasil", "success");
        }

        $("#Role").kendoDropDownList({

        });

        var data = {};

        function onSuccess(e) {
            data = e.response[0];
            $("#Photo").val(data.Path);
        }

        function onSelect(e) {
            //kendoConsole.log("Select :: " + getFileInfo(e));
            var size = getFileSize(e);
            if (size > 2000) {
                //console.log('gfsjhsjh');
                document.getElementById('err').style.display = 'block';
                //var up = $("#upload").data("kendoUpload");
                //up.disable();
                //$('button.k-button.k-upload-selected').addClass('k-state-disabled');
                //$('.k-upload-selected').prop("disabled", true);
                onUpload(e);
                this.element.closest(".k-button").addClass("k-state-disabled");
            } else {
                document.getElementById('err').style.display = 'none';
                $('.k-upload-selected').removeClass('k-state-disabled');
                //var up = $("#upload").data("kendoUpload");
                //up.enable();
            }
        }

        function onUpload(e) {
            var size = getFileSize(e);
            if (size > 2000) {
                //console.log('gfsjhsjh');
                document.getElementById('err').style.display = 'block';
                this.element.prop("disabled", true);
                this.element.closest(".k-button").addClass("k-state-disabled");
            } else {
                document.getElementById('err').style.display = 'none';
                $('.k-upload-selected').removeClass('k-state-disabled');
                //var up = $("#upload").data("kendoUpload");
                //up.enable();
            }
        }

        function getFileSize(e) {
            return $.map(e.files, function(file) {
                var info = file.name;

                // File size is not available in all browsers
                if (file.size > 0) {
                    info = Math.ceil(file.size / 1024);
                    //if (info < 2000) {
                    //    console.log('hai');
                    //    document.getElementById('err').style.display = 'block';
                    //}
                }
                return info;
            }); //.join(", ");
        }

        function getFileInfo(e) {
            var result = {};
            result = $.map(e.files, function(file) {
                //var info = file.name;
                return file;
            });

            return result;
        }

        $("#upload").kendoUpload({
            async: {
                saveUrl: "@(webApiUrl)Upload/PostFile",
                removeUrl: "@(webApiUrl)DeleteFile/",
                autoUpload: false
            },
            multiple: false,
            select: onSelect,
            success: onSuccess,
            upload: onUpload,
            remove: function(e) {
                e.sender.options.async.removeUrl = "@(webApiUrl)DeleteFile?fileNames=" + data.Path;
                 $("#upload").val("");
                //console.log($("#upload").val(''));
            }
        });
    </script>
}
