﻿@using App.Helper
@model Domain.Infrastructure.EditUserProfileBindingModel

@{
    ViewBag.Title = "Edit";
    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
    var photo = UserHelper.GetUserPhoto(Model.UserId);
}

<div class="panel">
    <div class="panel-header border-bottom">
        <h2>
            <span class="fa fa-edit"></span> <strong>User - Edit</strong>
        </h2>
    </div>
    <div class="panel-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="col-lg-12">
                    @if (TempData["message"] != null)
                    {
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            @TempData["message"]
                        </div>
                    }
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.UserId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Photo, "Foto Profil", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <img src="@Url.Content(photo)" style="max-width: 150px; max-height: 150px;" />
                        <input type="file" name="upload" id="upload" class="form-control" accept=".jpg,.png,.gif" />
                        @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Photo, new { id = "Photo" })
                        <p id="err" style="color: red; display: none;">Your image is too large</p>
                        <p>Max size : 2 MB</p>

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { @class = "form-control form-white" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Birthplace, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Birthplace, new { @class = "form-control form-white" })
                        @Html.ValidationMessageFor(model => model.Birthplace, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Birthdate, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Birthdate) *YYYY-MM-DD
                        @Html.ValidationMessageFor(model => model.Birthdate, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telephone, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Telephone, new { @class = "form-control form-white" })
                        @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Address, 10, 100, new { @class = "form-control form-white" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        <p class="pull-right">
            @Html.ActionLink("Back to List", "Index") |
            @Html.ActionLink("Back to Details", "Details", new { id = Model.UserId })
            @if (Request.UrlReferrer != null)
            {
                @: | <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
            }
        </p>
        <div class="clearfix"></div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(".kendo-datetimepicker#Birthdate").kendoDatePicker({
            start: "year",
            format: "yyyy-MM-dd"
        });

        var data = {};
        function onSuccess(e) {
            data = e.response[0];
            $("#Photo").val(data.Path);
        }

        function onSelect(e) {
            //kendoConsole.log("Select :: " + getFileInfo(e));
            var size = getFileSize(e);
            if (size > 2000) {
                //console.log('gfsjhsjh');
                document.getElementById('err').style.display = 'block';
                //var up = $("#upload").data("kendoUpload");
                //up.disable();
                //$('button.k-button.k-upload-selected').addClass('k-state-disabled');
                //$('.k-upload-selected').prop("disabled", true);
                onUpload(e);
                this.element.closest(".k-button").addClass("k-state-disabled");
            } else {
                document.getElementById('err').style.display = 'none';
                $('.k-upload-selected').removeClass('k-state-disabled');
                //var up = $("#upload").data("kendoUpload");
                //up.enable();
            }
        }

        function onUpload(e) {
            var size = getFileSize(e);
            if (size > 2000) {
                //console.log('gfsjhsjh');
                document.getElementById('err').style.display = 'block';
                this.element.prop("disabled", true);
                this.element.closest(".k-button").addClass("k-state-disabled");
            } else {
                document.getElementById('err').style.display = 'none';
                $('.k-upload-selected').removeClass('k-state-disabled');
                //var up = $("#upload").data("kendoUpload");
                //up.enable();
            }
        }

        function getFileSize(e) {
            return $.map(e.files, function (file) {
                var info = file.name;

                // File size is not available in all browsers
                if (file.size > 0) {
                    info = Math.ceil(file.size / 1024);
                    //if (info < 2000) {
                    //    console.log('hai');
                    //    document.getElementById('err').style.display = 'block';
                    //}
                }
                return info;
            });//.join(", ");
        }

        function getFileInfo(e) {
            var result = {};
            result = $.map(e.files, function (file) {
                //var info = file.name;
                return file;
            });

            return result;
        }

        $("#upload").kendoUpload({
            async: {
                saveUrl: "@(webApiUrl)Upload/PostFile",
                removeUrl: "@(webApiUrl)DeleteFile/",
                autoUpload: false
            },
            multiple: false,
            select: onSelect,
            success: onSuccess,
            upload: onUpload,
            remove: function (e) {
                e.sender.options.async.removeUrl = "@(webApiUrl)DeleteFile?fileNames=" + data.Path;
                // $("#upload").val("");
                //console.log($("#upload").val(''));
            }
        });
    </script>
}
