﻿@model Domain.Models.PemegangPolis

@{
    ViewBag.Title = "Create";
    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}

<div class="panel">
    <div class="panel-header border-bottom">
        <h2>
            <span class="fa fa-plus-circle"></span> <strong>PemegangPolis - Create</strong>
        </h2>
    </div>
    <div class="panel-content">
    @using (Html.BeginForm("Create", "PemegangPolis", FormMethod.Post, new { @id = "formCreate" })) 
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @*<div class="form-group">
                    @Html.LabelFor(model => model.OwnerId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                            @Html.DropDownList("OwnerId", new SelectList(new List<string>()), htmlAttributes: new { @class = "form-control kendo-dropdownlist", @id = "OwnerId" })
                                @Html.ValidationMessageFor(model => model.OwnerId, "", new { @class = "text-danger" })
                        </div>
            </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.NomorPolis, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NomorPolis, new { @class = "form-control form-white" })
                            @Html.ValidationMessageFor(model => model.NomorPolis, "", new { @class = "text-danger" })
                        </div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NomorMesin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NomorMesin, new { @class = "form-control form-white" })
                            @Html.ValidationMessageFor(model => model.NomorMesin, "", new { @class = "text-danger" })
                        </div>
            </div>

                <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="k-button" /> &nbsp; <button type="submit" value="true" name="createNext" class="k-button k-primary">Save and create next</button>
                </div>
            </div>
        </div>
    }
    </div>
    <div class="panel-footer">
        <p class="pull-right">
            @Html.ActionLink("PemegangPolis List", "Index")
            @if (Request.UrlReferrer != null)
            {
                @: | <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br/>
            }
        </p>
        <div class="clearfix"></div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#formCreate").validate({
            rules: {
                OwnerId: {
                },
                NomorPolis: {
                },
                NomorMesin: {
                },
            }
        });

        $(".kendo-dropdownlist").kendoDropDownList({
            filter: "contains"
        });

        $("button[name='createNext']").click(function (e) {
            var url = $("#formCreate").attr("action") + "?createNext=true";
            $("#formCreate").attr("action", url);
        });

        var dsOwnerId = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: "@(webApiUrl)Owners",
                    dataType: "json",
                    contentType: "application/json",
                },
                parameterMap: function (options, operation) {
                    if (operation === "destroy") {
                        return null;
                    } else if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    } else {
                        return "q=" + JSON.stringify(options);
                    }
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                model: {
                    id: 'Id',
                    fields: {
                        
                    }
                }
            },
            serverFiltering: true,
            serverPaging: true,
            pageSize: 7
        });

        $("#OwnerId").kendoDropDownList({
            filter: "contains",
            dataSource: dsOwnerId,
            dataTextField: "Email",
            dataValueField: "Id",
        });

        $(".kendo-datetimepicker").kendoDateTimePicker({
            format: "yyyy-MM-dd HH:mm"
        });
    </script>
}
