﻿@using App.Helper
@using Microsoft.AspNet.Identity
@model Domain.Models.ViewModels.BaseUser

@{
    ViewBag.Title = "Edit";
    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}

<div class="panel col-lg-8 col-md-12">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm", @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="panels panel-info">
                <div class="panel-header">
                    <h3>
                        <i class="fa fa-pencil-square-o"></i><strong>Edit My Profile</strong>
                    </h3>
                </div>
                <div class="col-lg-12">
                    @if (TempData["message"] != null)
                    {
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            @TempData["message"]
                        </div>
                    }
                </div>
                <div class="panel-content">
                    <hr/>
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    @Html.HiddenFor(model => model.Id, new {@id = "Id"})

                    <div class="form-group">
                        @Html.LabelFor(model => model.Photo, "Foto Profil", htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-9">
                            <img src="@UserHelper.GetUserPhoto(User.Identity.GetUserId())" style="max-width: 300px;"/>
                            <input type="file" name="upload" id="upload" class="form-control" accept=".jpg,.png,.gif"/>
                            @Html.ValidationMessageFor(model => model.Photo, "", new {@class = "text-danger"})
                            @Html.HiddenFor(model => model.Photo, new {id = "Photo"})
                            <p id="err" style="color: red; display: none;">Your image is too large</p>
                            <p>Max size : 2 MB</p>

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control form-white"}})
                            @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.UserName, new {htmlAttributes = new {@class = "form-control form-white"}})
                            @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control form-white"}})
                            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BirthPlace, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.BirthPlace, new {htmlAttributes = new {@class = "form-control form-white"}})
                            @Html.ValidationMessageFor(model => model.BirthPlace, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BirthDate, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.BirthDate, new {htmlAttributes = new {@class = "form-control kendo-datetimepicker form-white", @id = "BirthDate"}})
                            @Html.ValidationMessageFor(model => model.BirthDate, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Telephone, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Telephone, new {htmlAttributes = new {@class = "form-control form-white"}})
                            @Html.ValidationMessageFor(model => model.Telephone, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.Address, htmlAttributes: new {@class = "form-control form-white", @rows = 10})
                            @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>

    }
    <div>
        @Html.ActionLink("Back to My Profile", "Profile")     
        @if (Request.UrlReferrer != null)
        {
            @: | <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
    }
    </div>

</div>

@section scripts{
    <script type="text/javascript">
        $(".kendo-datetimepicker#BirthDate").kendoDatePicker({
            start: "year",
            format: "yyyy-MM-dd"
        });

        var data = {};
        function onSuccess(e) {
            data = e.response[0];
            $("#Photo").val(data.Path);
        }

        function onSelect(e) {
            //kendoConsole.log("Select :: " + getFileInfo(e));
            var size = getFileSize(e);
            if (size > 2000) {
                //console.log('gfsjhsjh');
                document.getElementById('err').style.display = 'block';
                //var up = $("#upload").data("kendoUpload");
                //up.disable();
                //$('button.k-button.k-upload-selected').addClass('k-state-disabled');
                //$('.k-upload-selected').prop("disabled", true);
                onUpload(e);
                this.element.closest(".k-button").addClass("k-state-disabled");
            } else {
                document.getElementById('err').style.display = 'none';
                $('.k-upload-selected').removeClass('k-state-disabled');
                //var up = $("#upload").data("kendoUpload");
                //up.enable();
            }
        }

        function onUpload(e) {
            var size = getFileSize(e);
            if (size > 2000) {
                //console.log('gfsjhsjh');
                document.getElementById('err').style.display = 'block';
                this.element.prop("disabled", true);
                this.element.closest(".k-button").addClass("k-state-disabled");
            } else {
                document.getElementById('err').style.display = 'none';
                $('.k-upload-selected').removeClass('k-state-disabled');
                //var up = $("#upload").data("kendoUpload");
                //up.enable();
            }
        }

        function getFileSize(e) {
            return $.map(e.files, function (file) {
                var info = file.name;

                // File size is not available in all browsers
                if (file.size > 0) {
                    info = Math.ceil(file.size / 1024);
                    //if (info < 2000) {
                    //    console.log('hai');
                    //    document.getElementById('err').style.display = 'block';
                    //}
                }
                return info;
            });//.join(", ");
        }

        function getFileInfo(e) {
            var result = {};
            result = $.map(e.files, function (file) {
                //var info = file.name;
                return file;
            });

            return result;
        }

        $("#upload").kendoUpload({
            async: {
                saveUrl: "@(webApiUrl)Upload/PostFile",
                removeUrl: "@(webApiUrl)DeleteFile/",
                autoUpload: false
            },
            multiple: false,
            select: onSelect,
            success: onSuccess,
            upload: onUpload,
            remove: function (e) {
                e.sender.options.async.removeUrl = "@(webApiUrl)DeleteFile?fileNames=" + data.Path;
                // $("#upload").val("");
                //console.log($("#upload").val(''));
            }
        });

    </script>
}
