﻿@using System.Configuration
@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    var baseUrl = ConfigurationManager.AppSettings["baseUrl"];
    var returnUrl = Request.QueryString["returnUrl"] ?? baseUrl;
}
<body class="account separate-inputs boxed" data-page="login">
    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <i class="user-img icons-faces-users-03"></i>
                    <form class="form-signin" role="form">
                        <h1>labpimnas</h1>
                        <div id="alert"></div>
                        <div class="append-icon">
                            <input type="text" name="username" id="name" class="form-control form-white username" placeholder="Username" required>
                            <i class="icon-user"></i>
                        </div>
                        <div class="append-icon m-b-20">
                            <input type="password" name="password" class="form-control form-white password" placeholder="Password" required>
                            <i class="icon-lock"></i>
                        </div>
                        <button type="submit" id="submit-form" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">Sign In</button>
                        <div class="social-btn" style="display: none">
                            <button type="button" class="btn-fb btn btn-lg btn-block btn-primary"><i class="icons-socialmedia-08 pull-left"></i>Connect with Facebook</button>
                            <button type="button" class="btn btn-lg btn-block btn-blue"><i class="icon-social-twitter pull-left"></i>Login with Twitter</button>
                        </div>
                        <div class="clearfix">
                            <p class="pull-left m-t-20">
                                <a id="password" href="#">Forgot password?</a>
                            </p>
                            @*<p class="pull-right m-t-20"><a href="user-signup-v1.html">New here? Sign up</a></p>*@
                        </div>
                    </form>
                    <form class="form-password" id="form-password" role="form">
                        <h1>labpimnas</h1>
                        <div id="alert2"></div>
                        <div class="append-icon m-b-20">
                            <input type="text" placeholder="Email" name="email" id="Email" class="form-control form-white password" required>
                            <i class="icon-lock"></i>
                        </div>
                        <button type="submit" id="submit-password" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">Send Password Reset Link</button>
                        <div class="clearfix">
                            <p class="pull-left m-t-20"><a id="login" href="#">Already got an account? Sign In</a></p>
                            @*<p class="pull-right m-t-20"><a href="user-signup-v1.html">New here? Sign up</a></p>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <p class="account-copyright">
            <span>&copy; Lemhannas - @DateTime.Now.Year</span>
        </p>
    </div>

</body>

@section scripts
{
    <script type="text/javascript">
        $('#submit-form').click(function (e) {
            e.preventDefault();
            $(this).addClass('ladda-button');
            var l = Ladda.create(this);
            l.start();

            var username = $("input[name='username']").val();
            var password = $("input[name='password']").val();

            $.ajax({
                url: config.baseUrl + "oauth/token",
                method: "POST",
                data: { username: username, password: password, grant_type: "password" },
                success: function (resp) {
                    if (resp.access_token !== undefined) {
                        $.cookie("auth", resp.access_token, { expires: Math.ceil(resp.expires_in / 60 / 60 / 24) });

                        window.location = "@returnUrl";
                    } else {
                        var alertMsg = "Invalid username or password!";
                        $("#alert").html("<div class='alert alert-danger'>" + alertMsg + "</div>");
                    }
                },
                error: function (resp) {
                    var error = $.parseJSON(resp.responseText);
                    var alertMsg = error.error_description;
                    $("#alert").html("<div class='alert alert-danger'>" + alertMsg + "</div>");
                    $("#submit-form").prop("disabled", false);
                    $("#submit-form").removeAttr('data-loading');;
                },
                beforeSend: function (data) {
                    $("#alert").html("");
                    // $("#body-overlay").removeClass("hide");
                },
                complete: function (resp) {
                    $("#body-overlay").addClass("hide");
                }
            });

            return false;

        });

        $('#submit-password').click(function (e) {
            $(this).addClass('ladda-button');
            var l = Ladda.create(this);
            l.start();

            var data = {
                Email: $("#Email").val()
            };

            e.preventDefault();

            $.ajax({
                url: config.baseUrl + "api/accounts/GenerateResetToken",
                data: data,
                method: "POST",
                success: function (resp) {
                    var countdown = 3;
                    $("#alert2").html("<div class='alert alert-success'>Reset link has been sent to your email, you will be redirected in " + countdown + " seconds.</div>");
                    countdown -= 1;

                    window.setInterval(function () {
                        $("#alert2").html("<div class='alert alert-success'>Reset link has been sent to your email, you will be redirected in " + countdown + " seconds.</div>");
                        countdown -= 1;
                    }, 1000);

                    setTimeout(function () {
                        window.location = "@baseUrl";
                    }, 3000);
                },
                error: function (resp) {
                    var error = $.parseJSON(resp.responseText);

                    var errArr = [];

                    for (var x in error.modelState) {
                        errArr.push(error.modelState[x]);
                    }

                    var alertMsg = errArr[0].join(",");
                    $("#alert2").html("<div class='alert alert-danger'>" + alertMsg + "</div>");
                },
                beforeSend: function (data) {
                    $("#alert2").html("");
                    //$("#body-overlay").removeClass("hide");
                },
                complete: function (resp) {
                    $("#submit-password").prop("disabled", false);
                    $("#submit-password").removeAttr('data-loading');
                    $("#body-overlay").addClass("hide");
                }
            });

        });

    </script>
}
