﻿@using Domain.Models
@model string

<div>
    @if (!string.IsNullOrWhiteSpace(Model))
    {
        var file = Json.Decode<Attachment>(Model);
        <a href="@file.Path" title="@file.Name">
            @if (file.FileType.Contains("image"))
            {
                <img src="@file.Path?maxwidth=100&maxheight=100&mode=crop" alt="@file.Name" class="p-5 m-b-5 m-r-5 border" />
            }
            else
            {
                <div class="text-center p-5 m-b-5 border w-100 h-100">
                    <span class="fa fa-file-o text-4x"></span>
                    <br />@file.Name
                </div>
            }
        </a>
    }
</div>