﻿@using Domain.Infrastructure
@model List<SubMenu>

<ul style="list-style: none;">
    @if (Model != null)
    {
        foreach (var item in Model.OrderBy(x => x.SortOrder))
        {
            <li>
                <a href="@(item.Url ?? Url.Action(item.Action, item.Controller))" class="text-info"><span class="@item.Icon"></span> @(item.Title ?? item.Name)</a>
            </li>
        }
    }
</ul>