﻿@using Domain.Models
@model string

<div>
    @Html.Hidden("", Model)
    @if (!string.IsNullOrWhiteSpace(Model))
    {
        var files = Json.Decode<List<Attachment>>(Model);
        <ul style="list-style: none;">
            @foreach (var file in files)
            {
                <li class="pull-left">
                    <a href="@file.Path" title="@file.Name">
                        <div class="text-center p-5 m-b-5 m-r-5 border w-100 h-100" style="overflow: hidden;">
                            @if (file.FileType.Contains("image"))
                            {
                                <img src="@file.Path?width=90&height=90&mode=crop" alt="@file.Name" />
                            }
                            else
                            {
                                <span class="fa fa-file-o text-4x"></span>
                                <br />@file.Name
                            }
                        </div>
                    </a> <button class="btn btn-danger multiFileDelete w-100">Delete</button>
                </li>
            }
        </ul>
        <div class="clearfix"></div>
    }
    <input type="file" class="multiFileUpload" />
</div>

<script>
    $(function() {
        var data = [];
        function onSuccess(e) {
            if (e.operation == "upload") {
                var $upload = $(e.sender.wrapper).parent().parent().find("input[type=hidden]"),
                    temp = {};

                temp = e.response[0];

                var files = [];

                if ($upload.val().length > 0) {
                    files = JSON.parse($upload.val());
                }
                
                temp.Name = getFileInfo(e)[0].name;

                temp.FileType = temp.Type;
                temp.Type = "@AttachmentType.File";

                files.push(temp);
                data.push(temp);

                $upload.val(JSON.stringify(files));
            }
        }

        function getFileInfo(e) {
            var result = {};
            result = $.map(e.files, function (file) {
                //var info = file.name;
                return file;
            });

            return result;
        }

        $(".multiFileDelete").unbind().on("click", function (e) {
            e.preventDefault();
            var $upload = $(this).parent().parent().siblings("input[type=hidden]"),
                a = $(this).siblings("a");

            var data = JSON.parse($upload.val()),
                $this = $(this),
                toDelete = {};

            $.each(data, function (index, item) {
                if (a.attr("href") === item.Path) {
                    toDelete = item;
                }
            });

            $.ajax({
                url: "/api/DeleteFile?fileNames=" + toDelete.Path,
                method: "POST",
                success: function (resp) {
                    data = $.grep(data, function(n, i) {
                        return n.Path != toDelete.Path;
                    });
                    $upload.val(JSON.stringify(data));
                    $this.parent().remove();
                }
            });
        });

        $(".multiFileUpload").kendoUpload({
            async: {
                saveUrl: "/api/Upload/PostFile",
                removeUrl: "/api/Upload/DeleteFile/",
                autoUpload: false
            },
            multiple: true,
            success: onSuccess,
            remove: function (e) {
                var $upload = $(e.sender.wrapper).parent().parent().find("input[type=hidden]"),
                    toDelete = {};

                $.each(data, function (index, item) {
                    if (e.files[0].name === item.Name) {
                        toDelete = item;
                    }
                });

                data = $.grep(data, function (n, i) {
                    return n.Path != toDelete.Path;
                });

                $upload.val(JSON.stringify(data));
                
                if (toDelete) {
                    e.sender.options.async.removeUrl = "/api/DeleteFile?fileNames=" + toDelete.Path;
                }
            }
        });
    });
</script>